
<h4>Contact Us</h4>
<p>If  you have any questions or suggestions regarding our privacy policy, please  contact us at:</p>
<ul type="disc">
    <li>ATTN: harpreplacement.com</li>
    <li>909 N. Pacific Coast Highway</li>
    <li>Suite 210</li>
    <li>El Segundo, CA 90245</li>
</ul>
<h4>Special Notification for California Residents</h4>
<p>Individual  customers who reside in California and have provided their personal information  may request information regarding disclosures of this information to third  parties for direct marketing purposes. Such requests must be submitted to us at  the following mailing address:</p>
<ul type="disc">
    <li>ATTN: harpreplacement.com </li>
    <li>909 N. Pacific Coast Highway</li>
    <li>Suite 210</li>
<li>El Segundo, CA 90245</li>
</ul>
<p>This  request may be made no more than once per calendar year. We reserve our right  not to respond to requests submitted other than to the address specified in  this paragraph.</p>
