 

 <header class="topmheader">
    <div id="logo">
        <img  routerLink="/" src="assets/logo.png" >
      </div>
  <div class="clear"></div>
</header>


<div class="container">
  <router-outlet></router-outlet>
</div>

<footer class="footer">
  <div class="contentColumn">
      <div><p>© <span class="YearName">2019</span> Clevereconomy.com. All Rights Reserved.</p></div>
      <p class="fnav">
          <a class="exception" routerLink="/"><span>Home</span></a>
          <a class="exception" routerLink="/about"><span>About Us</span></a>
          <a class="exception" routerLink="/policy"><span>Privacy Policy</span></a>
          <a class="exception" routerLink="/offer"><span>Offer</span></a>
          <a class="exception"  routerLink="/contact"><span>Contact Us</span></a>
      </p>
      <h4><div>THIS IS AN ADVERTISEMENT AND NOT AN ACTUAL NEWS ARTICLE,
      BLOG, OR CONSUMER PROTECTION UPDATE</div></h4>
      <div>
      <p></p><p>&nbsp;</p>
      </div>
  </div>
</footer> 